/* img.pp {
    width: 25%;
} */
.personen {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.persoon {
    width: 23%;
    align-self: stretch;
}

span {
    display: table;
    margin: 0 auto;
    font-weight: bold;
}