.sortable th {
    white-space: nowrap;
}

.sortable th:hover::after {
    font-size: 1.2em;
    content: ' \025B8';
}

.sortable th::after {
    font-size: 1.2em;
    color: transparent;
    content: ' \025B8';
}


.sortable th.dir-d::after {
    color: inherit;
    content: ' \025BE';
}


.sortable th.dir-u::after {
    color: inherit;
    content: ' \025B4';
}


.container {
    max-width: 95% !important;
}