.shifts-link a {
    color: inherit;
    text-decoration: none;
    font-size: 1.25rem;
    justify-self: end;
}

.shifts-link {
    display: grid;
    max-width: max-content;
    row-gap: 0.2rem;
}

.pp-lid {
    border-radius: 5px;
    /* border: 0.3rem;
    border-color: var(--primary);
    border-style: solid; */
    width: 200px;
}

.svg-icon {
    height: 1.8rem;
}

header.profile {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}