.fields {
    accent-color: var(--primary);
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.label {
    text-align: right
}

.required {
    color: var(--red);
}