.data-grid {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 1rem;
    row-gap: 1rem;
    border-left: 3px solid var(--primary);
    padding: 0.75rem;
    max-width: max-content;
}

.data-grid p {
    margin: 0;
}