.main-header {
    display: flex;
    margin-top: 1rem;
}

.main-header>* {
    margin: 0;
}

.main-header .title-btns {
    margin-left: 1rem;
    padding: 0.4rem;
}

.day {
    display: flex;
    gap: 3rem;
    border-style: solid;
    border-width: 0.2rem;
    border-color: var(--primary);
    border-radius: 1.5rem;
    padding: 1.25rem;
    position: relative;
    height: calc(fit-content);
    flex-wrap: wrap;
    width: fit-content;
}

.shift {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    padding: 0 15px;
}

.shift h3 {
    margin: 0;
    margin-bottom: 0.5rem;
}

.shift li {
    margin: 0.5rem 0 0.5rem 0;
    height: 1.3em;
}

.shift-button-status {
    /* height: 4rem; *5
    /* position: absolute; */
    bottom: 0;
}

.empty {
    border-width: 0;
    border-bottom: 1px;
    margin-bottom: calc(100% - 1px);
    /* margin-bottom: inherit; */
    border-color: var(--accent);
    /* border-style: solid; */
}

.shift-button-status p {
    margin-bottom: 0;
}

.shifters {
    padding: 0;
    margin-top: 0;
    list-style-type: none;
    flex: auto;
}

.volle-shift {
    color: var(--red);
}

.loggedshifter {
    /* color: var(--secondary); */
    font-weight: bold;
}

.edit-button::after {
    /* content: ' \2699'; */
    content: ' \2807';
    /* font-size: 1.1em; */
}

.edit-button {
    font-weight: 700;
    font-size: inherit;
    padding-left: 4px;
    padding-right: 0rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--body-bg);
    color: var(--body-color);
}

.shift-form {
    margin: 0;
}

#shiftlist h2 {
    margin-left: 0.5rem;
}

dialog::backdrop {
    background: rgb(0 0 0 / 0.4);
}

dialog ul {
    list-style-type: none;
    padding: 0;
}

dialog .header>* {
    margin: 0;
}

dialog .header {
    display: flex;
    margin-bottom: 1.25rem;
}

dialog .delete-btn {
    background-color: var(--red);
    padding: 0.4rem;
    margin-left: 1rem;
}


.shift-edit-popup select {
    border: 1;
    border-radius: 0.4em;
    border-width: 2px;
    border-color: var(--body-color);
    /* cursor: pointer; */
    background-color: var(--body-bg);
    color: var(--body-color);
    font-size: 1.25rem;
    padding: 0.3em;
    margin-bottom: 0.5rem;
}

.bottom-btns button {
    margin-right: 1.25rem;
}

dialog h1 {
    margin-top: 0;
}

.options label {
    font-size: 1rem;
}

dialog .options input {
    font-size: 1rem;
    width: 8em;
}

dialog .options {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 1rem;
    margin-bottom: 1rem;
}


dialog .options select {
    font-size: 1rem;
    padding: 2px;
    width: 8rem;
}

/* * {
    scroll-behavior: smooth !important;
} */

.anchor {
    border: 1px;
    border-radius: 0.5rem;
    scroll-margin: 2rem;
}

.anchor:target {
    animation-name: blink;
    animation-direction: normal;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes blink {
    0% {
        background-color: var(--body-color);
    }

    100% {
        background-color: var(--body-bg);
    }
}

.shift li::before {
    content: "\2611";
    margin: 0 6px 0 0;
}

.shift li.empty::before {
    content: "\2610";
    /* background: url("http://achim.be/jules/uploads/close.png") no-repeat;
    width: 1em;
    height: 1em;
    display: block;
    float: left;
    margin: 0 6px 0 0; */
}