textarea {
    height: calc(100vh - 350px);
    resize: none;
}

span .icon {
    font-family: "Material Symbols Outlined";
    font-size: inherit;
    vertical-align: bottom;
    font-weight: 400;
    line-height: inherit;
    color: var(--red);
}