span {
    font-family: "Material Symbols Outlined";
    font-size: inherit;
    vertical-align: bottom;
    font-weight: 400;
    line-height: inherit;
}

pre {
    padding-left: 5px;
    border-left: 3px solid var(--primary);
}

.edit {
    font-family: "Material Symbols Outlined";
    font-size: inherit;
    vertical-align: bottom;
    font-weight: bolder;
    line-height: inherit;
    color: var(--body-color);
    text-decoration: none;
}