{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<form method="POST">
{% csrf_token %}
{% for lid in new %}
    {% include 'leden/userinfo.html' with user=lid.user %}
    <label for="accept{{lid.id}}">{% trans "Accept" %}</label>
    <input id="accept{{lid.id}}" type="radio" value="accept" name="{{ lid.user.id }}">
    <label for="del{{lid.id}}">{% trans "Delete" %}</label>
    <input id="del{{lid.id}}" type="radio" value="del" name="{{ lid.user.id }}">
    <br>
{% endfor %}
<button type="submit">{% trans "Submit" %}</button>
<button type="reset">{% trans "Clear" %}</button>
</form>
{% endblock %}