{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="{% static 'leden/css/profile.css' %}">
<article class = "user-info">
    
    <header class='profile'>
        {% if user.lid.profile_picture %}
            <img src="{{ user.lid.profile_picture.url}}" alt="Profile picture" class ="pp-lid">
        {% endif %}
        <hgroup>
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
            <h2><a href="profile/edit">{% trans "Edit" %}</a></h2>
        </hgroup>
    </header>
    {% include 'leden/userinfo.html' %}
</article>
<a href="password-change">{% trans "Change password" %}</a>
<a href="profile/ical">{% trans "Generate ical link" %}</a>

<div class="upcomming-shifts shifts-link">
    <h1>{% trans "Upcomming shifts" %}</h1>
    {% for shift in upcomming_shifts %}
    <a href = "/shiften/{{ shift.shift_list.id }}#{{ shift.id }}">{{ shift }}</a>

    {% endfor %}
</div>
<div class="shift-history shifts-link">
    <h1>{% trans "Shift history" %}</h1>
    {% for shift in shift_history%}
    <a href = "/shiften/{{ shift.shift_list.id }}#{{ shift.id }}">{{ shift }}</a>
    {% endfor %}
</div>

{% endblock content %}