/* Light mode */

:root {
    --body-bg: #f8f7f1;
    --body-color: #242420;
    --icon-filter: invert(14%) sepia(7%) saturate(507%) hue-rotate(22deg) brightness(98%) contrast(100%);
}

.darkmode {
    --body-bg: #212124;
    --body-color: #d6d6d6;
    --icon-filter: invert(93%) sepia(0%) saturate(96%) hue-rotate(151deg) brightness(91%) contrast(97%);
}

.svg-icon {
    filter: var(--icon-filter);
    vertical-align: bottom;
}


/* :root {
    --primary: #7afca1;
    --secondary: #06FB00;
    --accent: #168586;
    --dark: #212124;

    --red: #ff5656;
    --button-primary: #dadada;
    --button-text: #000000;
} */

/* ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

/* 
body, input, textarea, button {
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background: var(--body-bg);
    color: var(--body-color);
    margin: 0;
    min-height: 100vh;
    position: relative;
}

.content {
    padding: 8rem 3rem 1rem 3rem;
    padding-bottom: 4rem;
}


button {
    background-color: transparent;
    border-style: none;
    border-bottom: 2px solid var(--body-color);
    color: var(--body-color);
    font-size: 1.1rem;
    padding-bottom: 0.4em;
    transition-duration: 0.15s;
}

button:hover {
    filter: brightness(0.8);
}

button:active {
    filter: brightness(1.2);
}

dialog {
    background-color: var(--body-bg);
    color: var(--body-color);
    border-width: 0.3rem;
    border-color: var(--primary);
    border-radius: 1.5rem;
    padding: 1.5rem;
}

dialog::backdrop {
    background: rgb(0 0 0 / 0.4);
}

a {
    color: var(--body-color);
}

@media screen and (max-width: 860px) {


    .content {
        padding-top: 10em;
        overflow: auto;
    }

    header {
        position: fixed;
    }



}

*/
:root {
    --phoneWidth: (max-width: 767px);
    /* --tabletWidth: (max-width: 900px) */
}

.hidden {
    display: none !important
}

.messages {
    list-style-type: none;
    padding: 0;
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message {
    padding: 20px;
    background-color: var(--accent);
    color: white;
    margin-bottom: 15px;
}

ul.messages>li {
    list-style: none;
}


.message .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/*

.red-btn {
    color: var(--red);
    border-color: var(--red);
}

footer {
    position: absolute;
    bottom: 0;
    height: 4rem;
    width: 100%;
    text-align: center;
    color: gray;
}
*/