:root {
    --header-color: black;
}

header {
    background: var(--primary);
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    color: var(--header-color);
    margin-bottom: 5rem;
    z-index: 999;
    /* box-shadow: 0px 10px var(--accent); */
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    background-color: var(--primary);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 1em;
    /* margin-bottom: 1em; */
}

nav a {
    color: var(--header-color);
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
    padding: 1rem;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

nav li div.dropdown-content {
    margin-left: 1rem;
}

.nav-user {
    font-size: 1.25rem;
    display: block;
    text-align: center;
    padding: 1em;
    padding-top: 0;
    position: relative;
}

.nav-user a {
    text-decoration: none;
    color: var(--header-color);
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 150ms ease-in-out 200ms;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: -12;
    left: 0;
    margin-left: 1.5em;
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--header-color);
    height: 4px;
    width: 2em;
    border: 4px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 12px;
}

.nav-toggle-label span::after {
    top: 12px;
}

.breadcrumbs {
    background-color: var(--accent);
    width: 100%;
    display: flex;
    list-style-type: none;
    font-size: 1.1rem;
    margin: 0;
    padding-left: 32px;
}

.breadcrumbs li a {
    text-decoration: none;
    color: var(--dark);
}

.breadcrumbs li:not(:first-child)::before {
    content: "\e409";
    font-family: "Material Symbols Outlined";
    font-size: inherit;
    vertical-align: bottom;
    font-weight: 400;
    line-height: inherit;
    /* color: var(--header-color); */
}

.page-title {
    margin-bottom: 0.4rem;
}

.page-title a {
    color: var(--header-color);
    text-decoration: none;
}


@media screen and (min-width: 860px) {
    .nav-toggle-label {
        display: none;
    }

    .page-title {
        margin: 22px 0;
    }

    .nav-user {
        padding-top: 1rem;
    }

    header .main {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: max-content auto max-content;
    }

    .page-title {
        padding-left: 2rem;
    }

    .nav-user {
        font-size: 1.3rem;
        align-self: center;
    }

    nav {
        transform: scale(1, 1);
        position: relative;
        text-align: left;
        top: initial;
        left: initial;

        display: flex;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 1.5rem;
        margin-bottom: 0;
    }

    nav a {
        font-size: 1.3rem;
        opacity: 1;
        position: relative;
    }

    .dropdown-content {
        /* margin-top: 10px; */
        display: none;
        position: absolute;
        min-width: inherit;
        background-color: var(--primary);
        box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.4);
    }

    .dropdown-content a {
        padding: 5px 16px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown {
        min-width: inherit;
    }
}