{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'shiften/css/available_overview.css' %}">
<div class="av-block-group">
<div class="av-block">
<h1>{% trans "Availabilty" %}<a href="add"><img src="{% static 'icons/add.svg' %}" alt="add" class="svg-icon"></a></h1>
{% for av in available %}
    <hr>
    <p>{{ av.start }} - {{ av.end }}</p>
    {% if av.info %}
        <p class="info">{{ av.info }}</p> 
    {% endif %}
    <a href="0/{{av.id}}/edit">edit</a>
{% endfor %}
<hr>
</div>
<div class="av-block">
<h1>{% trans "Availabilty repeating" %}<a href="add-rep"><img src="{% static 'icons/add.svg' %}" alt="add" class="svg-icon"></a></h1>
{% for av in available_rep %}
    <hr>
    <p>{{ av.start_period }} - {{ av.end_period }}</p>
    <p>{{ av.weekday }} | {{ av.start }} - {{ av.end }}</p>
    {% if av.info %}
        <p>{{ av.info }}</p> 
    {% endif %}
    <a href="1/{{av.id}}/edit">edit</a>
{% endfor %}
    <hr>
</div>
</div>
{% endblock %}