{% extends '../base.html' %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'leden/css/ledenlijst.css' %}">
<div class = "ledenlijst">
    <p>Achternaam</p>
    <p>Voornaam</p>
    <p>E-mailadres</p>
    <p>Telefoonnummer</p>
    <p>Geboortdatum</p>
    <p>Gender</p>
    <p>Adres</p>
    <p>Stad</p>
    <p>Discord id</p>
    <p>Media</p>
  {% for lid in leden %}
    <p>{{ lid.user.last_name }}</p>
    <p>{{ lid.user.first_name }}</p>
    <p>{{ lid.user.email }}</p>
    <p>{{ lid.tel }}</p>
    <p>{{ lid.date_of_birth|date:"" }}</p>
    <p>{{ lid.get_gender_display }}</p>
    <p>{{ lid.street}} {{ lid.house_number }}</p>
    <p>{{ lid.residence}} {{ lid.zipcode }}</p>
    <p>{{ lid.discord_id }}</p>
    <p>{{ lid.media }}</p>
  {% endfor %}
</div>
{% endblock %}
