{% extends 'base.html' %}
{% block content %}
<h1>{{ user.last_name }} {{ user.first_name }}</h1>
<ul>
    <li>{{ user.email }}</li>
    <li>{{ user.lid.tel }}</li>
    <li>{{ user.lid.date_of_birth }}</li>
    <li>{% if user.lid.gender == "M" %} Man {% elif user.lid.gender == "F"%} Vrouw {% else%} Anders {% endif %}
    <li>{{ user.lid.street}} {{ user.lid.house_number }}</li>
    <li>{{ user.lid.residence}} {{ user.lid.zipcode }}</li>
    <li>{{ user.lid.discord_id }}</li>
    <li>{{ user.lid.media }}</li>
</ul>

{% endblock content %}