{% load static %}
{% load i18n %}
<div>
    {% include 'leden/profile/tabs.html' %}

    <article class = "user-info">
        
        <header class='profile'>
            {% if user.lid.profile_picture %}
                <img src="{{ user.lid.profile_picture.url}}" alt="Profile picture" class ="pp-lid">
            {% endif %}
            <hgroup>
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <h2><a href="profile/edit">{% trans "Edit" %}</a></h2>
            </hgroup>
        </header>
        {% include 'leden/userinfo.html' %}
    </article>
</div>