{% load static %}
{% load i18n %}
<div>
    {% include 'leden/profile/tabs.html' %}

    <div class="grid">
        <article>
            <header>
                <h1>{% trans "Upcomming shifts" %}</h1>
            </header>
            <div class="upcomming-shifts shifts-link">
                {% for shift in upcomming_shifts %}
                <a href = "{% url 'shiftlist' shift.shift_list.id %}#{{ shift.id }}">{{ shift }}</a>

                {% endfor %}
            </div>
        </article>
        <article>
            <header>
                <h1>{% trans "Shift history" %}</h1>
            </header>
            <div class="shift-history shifts-link">
                {% for shift in shift_history%}
                <a href = "{% url 'shiftlist' shift.shift_list.id %}#{{ shift.id }}">{{ shift }}</a>
                {% endfor %}
            </div> 
        </article>
    </div>
</div>