{% extends 'base.html' %}
{% block content%}
{% load static %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'shiften/css/shiftlist.css' %}">
<p>{{ list.id}} {{ list.date }} {{ list.type }}</p>

<div id="shiftlist">
  {% for shift in shifts %}
  {% ifchanged shift.date %}</div>
  {% with date=shift.date|date:'l j F Y'%}
  <h3>{% translate date %}</h3>
  {% endwith %}
  <div class="day">
  {% endifchanged %}
  <div class = "shift">
    <h4>{{ shift.start }}-{{ shift.end }}</h4>
    <ul class="shifters">
    {% for shifter in shift.shifters.all %}
      <li>{{ shifter.user.first_name }} {{ shifter.user.last_name }}</li> 
    {% endfor %}
    </ul>
    <div class="shift-button-status">
    {% if shift.shifters.all.count == max_shifters and request.user.lid not in shift.shifters.all%}
    <p>Shift zit vol</p>
    {% else %}
    <form action="{% url 'signup_shift' list.id %}" method ="POST">
      {% csrf_token %}
      <button type="submit", name="shift_id" value="{{ shift.id }}">
        {% if request.user.lid in shift.shifters.all %}
          Maak shift vrij
        {% else %}
          Neem Shift
        {% endif %}
      </button>
    </form>
    {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
