{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
        <link rel="stylesheet" type="text/css" href="{% sass_src 'css/main_sass.scss' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        {% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> {% endcomment %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>De Muze</title>
    </head>
    <body>
        <script src="{% static '/scripts/main.js' %}"></script>

        {% include 'navbar.html'%}

        <main class="container">
        {% block content %} 
        {% endblock %}
        </main> 
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <div class="message">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <footer class="container">
            <small>
            &copy; {% now 'Y' %} Jeugdhuis de muze
            </small>
        </footer>

    </body>
    {% comment %} <script src="https://unpkg.com/alpinejs" defer></script> {% endcomment %}
    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
</html>