{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
    {% csrf_token %}
    <div class="fields">
    {% for form in forms %}
      {% for field in form %}
          <div class="label">
            {{ field.label_tag }}
            {% comment %} {{ form.name }} {% endcomment %}
            {% comment %} {% if field.field.required %}
              <span class="required">*</span>
            {% endif %} {% endcomment %}
          </div>
          <div>
            {{ field }}
              {% if field.help_text %}
                <div class="help-text">
                  {{ field.help_text }}
                </div>
              {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </div>
      {% endfor %}
    {% endfor %}
    </div>
{% endblock %}