{% load static %}
{% comment %} <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>De Muze</title>
<body>
    
<script src="{% static '/scripts/main.js' %}"></script>
{% include 'navbar.html'%}
<div class="content">
{% block content %} 
{% endblock %}
</div> 
{% if messages %}
<ul>
    {% for message in messages %}
    <li>
        <dialog open>
            {{ message }}
        </dialog>
    </li>
    {% endfor %}
</ul>
{% endif %}
<script src="{% static '/scripts/colormode.js' %}"></script>

</body>