{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'leden/css/login.css' %}">

{% if form.errors %}
<p>{% trans "Your username and password didnt match. Please try agian." %}</p>
{% endif %} {% if next %} {% if user.is_authenticated %}
<p>
  {% trans "Your account doesn't have access to this page. To proceed, please login with an account that has acces." %}
</p>
{% else %}
{% endif %} {% endif %}
<article class="grid">
  <div>
      <h1>{% trans "Login" %}</h1>
    <form method="POST" action="{% url 'login' %}">
      {% include 'form.html' %}
      <button type="submit" value="Login">{% trans "Login" %}</button>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <a href="password-reset" class="secondary">{% trans "Forgot your password?" %}</a>
  </div>
</article>
{% endblock content %}