{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1>{% trans "Please login" %}</h1>
{% if form.errors %}
<p>{% trans "Your username and password didnt match. Please try agian." %}</p>
{% endif %} {% if next %} {% if user.is_authenticated %}
<p>
  {% trans "Your account doesn't have access to this page. To proceed, please login with an account that has acces." %}
</p>
{% else %}
{% endif %} {% endif %}

<form method="POST" action="{% url 'login' %}">
  {% include 'form.html' %}
  <button type="submit" value="Login">{% trans "Login" %}</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<a href="password-reset">{% trans "Forgot your password?" %}</a>
{% endblock content %}