.shiftlist-list {
    padding: 0;
}

.shiftlist {
    display: flex;
    gap: 1rem;
    border-style: solid;
    border-width: 0.3rem;
    border-color: var(--primary);
    border-radius: 1.5rem;
    padding: 0.75rem;
    /* width: fit-content; */
    position: relative;
    height: calc(fit-content);
    flex-wrap: wrap;
    margin: 0.75em 0 0.75em 0;
    width: fit-content;
}

.shiftlist a {
    text-decoration: none;
    color: var(--body-color);
}

.bottom-btns button {
    margin-right: 1.25rem;
}

dialog h1 {
    margin-top: 0;
}

dialog .options {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: max-content max-content;
    row-gap: 1rem;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

dialog .options label {
    font-size: 1rem;
    /* width: max-content; */
}

.create-shiftlist-popup .options input {
    font-size: 1rem;
    width: 8em;
}

.create-shiftlist-template-popup .options input {
    font-size: 1rem;
}

.create-shiftlist-popup .options select {
    font-size: 1rem;
    padding: 2px;
    width: 8rem;
}

.create-shiftlist-template-popup .options select {
    font-size: 1rem;
    padding: 2px;
    /* width: 8rem; */
}