.header {
    display: flex;
    margin-top: 1rem;
}

.header>* {
    margin: 0;
}

.header .add-shift-btn {
    margin-left: 1rem;
    padding: 0.4rem;
}

.day {
    display: flex;
    gap: 1rem;
    border-style: solid;
    border-width: 0.3rem;
    border-color: var(--primary);
    border-radius: 1.5rem;
    padding: 1.25rem;
    /* width: fit-content; */
    position: relative;
    height: calc(fit-content);
    flex-wrap: wrap;
}

.shift {
    margin-right: 3rem;
    /* width: 25%; */
}

.shift h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.shift li {
    margin: 0.5rem 0 0.5rem 0;
}

.shift-button-status {
    /* height: 4rem; */
    /* position: absolute; */
    bottom: 0;
}

.shift-button-status p {
    margin-bottom: 0;
}

.shifters {
    padding: 0;
    list-style-type: none;
}

.volle-shift {
    color: var(--red);
}

.loggedshifter {
    color: var(--secondary);
}

.edit-button::after {
    content: ' \2699';
}

.edit-button {
    font-weight: bold;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0;
    padding-bottom: 0;
    /* border-radius: 1rem; */
}

.shift-form {
    margin: 0;
}

#shiftlist h3 {
    margin-left: 0.5rem;
}

dialog {
    background-color: var(--body-bg);
    color: var(--body-color);
    border-width: 0.3rem;
    border-color: var(--primary);
    border-radius: 1.5rem;
    padding: 1.5rem;
}

dialog::backdrop {
    background: rgb(0 0 0 / 0.4);
}

dialog ul {
    list-style-type: none;
    padding: 0;
}

.shift-edit-popup .header>* {
    margin: 0;
}

.shift-edit-popup .header {
    display: flex;
    /* margin-top: 1.25rem; */
    margin-bottom: 1.25rem;
}

.shift-edit-popup .delete-btn {
    background-color: var(--red);
    padding: 0.4rem;
    margin-left: 1rem;
}


.shift-edit-popup select {
    border: 1;
    border-radius: 0.4em;
    border-width: 2px;
    border-color: var(--body-color);
    /* cursor: pointer; */
    background-color: var(--body-bg);
    color: var(--body-color);
    font-size: 1.4rem;
    padding: 0.3em;
    margin-bottom: 0.5rem;
}

.bottom-btns button {
    margin-right: 1.25rem;
    /* background-color: var(--accent); */
    /* padding: 0.4rem; */
}