.day {
    display: flex;
    gap: 2rem;
    border-style: solid;
    border-width: 0.3rem;
    border-color: var(--primary);
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.75rem;
    width: fit-content;
}

.day>* {
    flex-shrink: 0;
}