{% extends 'base.html' %}
{% block content%}
{% load i18n %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bestuur.css' %}">

<article>
    <h3>{% trans "Raad van bestuur" %}</h3>
    {% for l in rvb %}
        <div>
            <span>{{ l.first_name }} {{ l.last_name }}</span>
        </div> 
    {% endfor %}
</article>
<article>
    <h3>{% trans "Stuurgroep" %}</h3>
    {% for l in stuurgroep %}
        <div class="persoon">
            {% if user.lid.profile_picture %}
                <img src="{{ l.lid.profile_picture.url}}" alt="Profile picture" class ="pp">
            {% endif %}
            <span>{{ l.first_name }} {{ l.last_name }}</span>
        </div> 
    {% endfor %}
</article>
{% endblock %}