{% extends 'base.html' %}
{% block content%}
{% load i18n %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/home.css' %}">

<article class="grid bigfoto">
  <div>
    <h2>{% trans "Word lid" %}</h2>
    <p>
      {% blocktranslate trimmed %}
          Word lid bla bla bla is heel leuk en zo.
          Heel cool ook ge moet er echt bij zijn geloof mij.
      {% endblocktranslate %}
    </p>
    <button onclick="window.location.href='{% url 'signup' %}';">{% trans "Word Lid" %}</button>

  </div>
  <img src="{% static 'main/img/wordlid.jpg' %}" alt="">
</article>


{% comment %} <article class="grid">
  <div>
    <h2>{% trans "Join onze discord sever" %}</h2>
    <p>
      bla bla bla bla
    </p>
  </div>
 <div id="discord">
 <iframe
  src="https://discord.com/widget?id=539096504237817866&theme=dark"
  allowtransparency="true"
  frameborder="0"
  sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"

></iframe>
</div>
</article> {% endcomment %}

{% endblock %}
