<div>
    {% load unicorn %}
    {% load static%}

    {% unicorn 'add-shiftlist-normal' parent=view %}
    {% unicorn 'add-shiftlist-template' parent=view %}

    <hgroup>
        <h1>Shiftlists</h1>
        <div class="grid">
            {% if perms.shiften.add_shiftlijst %}
                <button href="#" data-target="add-shiftlist-normal"
                onclick="toggleModal(event)" role="button" class="secondary outline">
                    Add Shiftlist
                </button>
                <button href="#" data-target="add-shiftlist-template" 
                onclick="toggleModal(event)" role="button" class="secondary outline">
                    Add Shiftlist (template)
                </button>
            {% endif %}
        </div>
    </hgroup>

    <ul class="shiftlist-list">
        {% for list in shiftlists %} 
            <li class="shiftlist
            {% if not list.is_active %}red{% endif %}"
            ><a href="{{ list.id }}">{{ list }}</a></li>
        {% endfor %}
    </ul>

    <script src="{% static '/scripts/modal.js' %}"></script>
    <script src="{% static '/shiften/scripts/home.js' %}"></script>
</div>