<div>
    {% load unicorn %}
    {% load static%}
    <h1>Shiftlists</h1>

    <button data-target="add-shiftlist-normal" onclick="toggleModal(event)">
        Add Shiftlist
    </button>
    <button data-target="add-shiftlist-template" onclick="toggleModal(event)">
        Add Shiftlist (template)
    </button>

    <dialog id="add-shiftlist-normal">
        <article id='form'>
            <a href="#close" aria-label="Close" class="close" 
                data-target="add-shiftlist-normal" onClick="toggleModal(event)">
            </a>
            <h1>Confirm your action</h1>
            <p id='unicorn-errors'>
                {% unicorn_errors %}
            </p>           
            <label for="name">Name</label>
            <input id="name" type="text" maxlength="300" unicorn:model.defer="name" />
            <label for="date">Date</label>
            <input id="date" type="date" unicorn:model.defer="date" />
            <label for="type">Type</label>
            <select id="type" unicorn:model.defer="type" onchange="disableName(event)">
                <option value="month">maand</option>
                <option value="event">evenement</option>
            </select>
            <footer>
                <a href="#cancel" role="button" class="secondary" 
                    data-target="add-shiftlist-normal" onClick="toggleModal(event)"
                    unicorn:click="$refresh">Cancel</a>
                <a href="#confirm" role="button" 
                    unicorn:click="add"
                    unicorn:partial.id="form"
                    unicorn:partial.id="shiftlist-list"
                    >Add</a>
            </footer>
        </article>
    </dialog>

    <dialog id="add-shiftlist-template">
        <article id='form'>
            <a href="#close" aria-label="Close" class="close" 
                data-target="add-shiftlist-template" onClick="toggleModal(event)">
            </a>
            <h1>Confirm your action</h1>
            <p id='unicorn-errors'>
                {% unicorn_errors %}
            </p>           

            <label for="type">Type</label>
            <select id="type" unicorn:model.defer="type" onchange="disableName(event)">
                <option value="month">maand</option>
                <option value="event">evenement</option>
            </select>
            <label for="date">Date</label>
            <input id="date" type="date" unicorn:model.defer="date" />
            <footer>
                <a href="#cancel" role="button" class="secondary" 
                    data-target="add-shiftlist-normal" onClick="toggleModal(event)"
                    unicorn:click="$refresh">Cancel</a>
                <a href="#confirm" role="button" 
                    unicorn:click="add"
                    unicorn:partial.id="form"
                    unicorn:partial.id="shiftlist-list"
                    >Add</a>
            </footer>
        </article>
    </dialog>

    <ul id="shiftlist-list">
        {% for list in shiftlists %} 
            <li class="shiftlist"><a href="{{ list.id }}">{{ list }}</a></li>
        {% endfor %}
    </ul>

    <script src="{% static '/scripts/modal.js' %}"></script>
    <script src="{% static '/shiften/scripts/home.js' %}"></script>
</div>