{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load filters %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'shiften/css/templates_edit.css' %}">
<script>
function del() {
  if (confirm(`{% trans "Are you sure want to delete this template" %}`))
    window.location.href = 'del';
}
</script>
<h1>{% trans "Edit template" %}<span class="icon" onclick="del()">delete</span></h1>
  <form method="POST">
    {% include 'form.html' %}
    <div class="grid">
      <button type="submit">{% trans "Save" %}</button>
      <button type="reset">{% trans "Reset" %}</button>
    </div>  
  </form>
<script src="{% static 'shiften/scripts/editTemplate.js' %}" type="module"></script>
{% endblock %}