{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load filters %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'shiften/css/templates_edit.css' %}">
<h1>Edit template</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Save</button>
    <button type="reset">Reset</button>
  </form>
<script src="{% static 'shiften/scripts/editTemplate.js' %}" type="module"></script>
{% endblock %}